body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

button {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}
.start{
    background-color: #4CAF50;
    transition: background-color 0.2s ease;
}
.end{
    background-color: #ff1a1a;
}
.obstacle{
    background-color: #aaaaaa;
}
.path{
    transition: background-color 0.5s;
    background-color: #2defff;
}
.cell {
    user-select: none; /* Prevents text selection */
    -webkit-user-drag: none; /* Prevents ghost image dragging */
    touch-action: none; /* Good for mobile pointers */
}
